button { /* Estilo para los botones (Así son mas cuadrados y grandes) */
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 1.5rem; /* Tamaño de fuente */
}

.zero {
    grid-column: span 3; /* Ocupa 3 columnas */
    aspect-ratio: auto; /* Ajusta la altura automáticamente, si no quedan algunos botones muy grandes */
}